<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<body>

<h2> All Users</h2>
<br>

<div>
    <table border="0" cellpadding="10">
        <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="usrs : ${allUsrs}">
            <td th:text="${usrs.name}"></td>
            <td th:text="${usrs.surname}"></td>
            <td th:text="${usrs.age}"></td>
            <td>
                <a th:href="@{/updateInfo(usrId=${usrs.id})}">
                    <input type="submit" value="Update"/>
                    <!--                    <button type="button"> Update</button>-->
                </a>

                <a th:href="@{/deleteUser(usrId=${usrs.id})}">
                    <input type="submit" value="Delete"/>
                    <!--                    <button type="button"> Delete</button>-->
                </a>
            </td>

        </tr>
        </tbody>
    </table>

    <form th:action="@{/addNewUser}">
        <input type="submit" value="Add"/>
    </form>

</div>

</body>
</html>
